{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block navbar %}
	{%  include 'Templates/Navbars/MainNavbar.html.twig' %}
{% endblock %}

{% block body %}
	<header>
		<h1>Activation Successful</h1>
		<p>Success! Your Account is now Active. You can now <a href="/">Login</a>.</p>
		<hr>
	</header>
{% endblock %}
