{% extends 'Templates/Register.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
                    <h1>Register</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                {% if user.errors is not empty %}
                    <p>Errors:</p>
                    <ul>
                        {% for error in user.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="post" action="/signup/create" id="formRegister">
                    <div class="form-group">
                        <label for="inputUserName">Username</label>
                        <input class="form-control" type="text" id="inputUserName" name="username" placeholder="Username" value="{{ user.username }}" required autofocus />
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName">First Name</label>
                        <input class="form-control" type="text" id="inputFirstName" name="user_first_name" placeholder="First Name" value="{{ user.user_first_name }}" required />
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Last Name</label>
                        <input class="form-control" type="text" id="inputLastName" name="user_last_name" placeholder="Last Name" value="{{ user.user_last_name }}" required />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email Address</label>
                        <input class="form-control" type="email" id="inputEmail" name="user_email" placeholder="Email Address" value="{{ user.user_email }}" required />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" type="password" id="inputPassword" name="user_password" placeholder="Password" required />
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-md">Register</button>
                </form>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {
            $('#formRegister').validate({
                rules: {
                    username: 'required',
                    user_email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    user_password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    user_email: {
                        remote: 'Email already taken'
                    }
                }
            });

            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>
{% endblock %}