{% extends "base.html" %}

{% block title %}Registration Successful{% endblock %}

{% block navbar %}
    {%  include 'Templates/Navbars/MainNavbar.html.twig' %}
{% endblock %}

{% block body %}
	<header>
		<h1>Registration Successful</h1>
		<p>Success! Thank You for Registering.</p>
		<p>Please Check Your Email to Activate Your Account.</p>
	</header>
{% endblock %}
