<div class="row">
    <article class="col-md-12">
        {% block priNavbar %}{% endblock %}
        {% block breadcrumb %}{% endblock %}
    </article>

    <article class="col-md-12">
        <div class="my-3">
            {% block alert %}{% endblock %}
        </div>
    </article>

    <article class="col-md-12">
        <div class="mb-3">
            {% block content %}{% endblock %}
        </div>
    </article>
</div>