<div class="row">
    <article class="col-md-12">
        {% block priNavbar %}{% endblock %}
        {% block breadcrumb %}{% endblock %}
    </article>

    <article class="col-md-12">
        <div class="my-3">
            {% block carousel %}{% endblock %}
        </div>
    </article>

    <article class="col-md-12">
        <div class="my-3">
            {% block header %}{% endblock %}
        </div>
    </article>

    <article class="col-md-12">
        <div class="my-3">
            {% block secNavbar %}{% endblock %}
        </div>
    </article>

    <article class="col-md-12">
        <div class="my-3">
            {% block alert %}{% endblock %}
        </div>
    </article>

    <article class="col-md-12">
        <div class="my-3">
            {% block content %}{% endblock %}
        </div>
    </article>
</div>