{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Articles</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <a class="btn btn-sm btn-success" href="/admin/article/new" style="margin-bottom: 0.5rem; margin-top: -0.5rem !important;"><i class="fad fa-plus"></i> New Article</a>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Tags</th>
                            <th>Comments</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {% for blog in blog %}
                        <tr class="small">
                            <td>{{ blog.article_id }}</td>
                            <td>{{ blog.article_author }}</td>
                            <td>{{ blog.article_title }}</td>
                            <td>{{ blog.article_category_id }}</td>
                            <td>{{ blog.article_status }}</td>
                            <td>{{ blog.article_tags }}</td>
                            <td>{{ blog.article_date|date("F jS, Y") }}</td>
                            <td>{{ blog.article_view_count }}</td>
                            <td>
                                <a class="btn btn-sm btn-warning" style="color: #FFF;" href="/article/{{ blog.article_title }}"><i class="fad fa-search"></i> View</a>
                                <a class="btn btn-sm btn-primary" href="/admin/article/edit/{{ blog.article_title }}"><i class="fad fa-edit"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" href="/admin/article/delete/{{ blog.article_title }}"><i class="fad fa-times"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}