{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Categories</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <table class="table table-hover">
                    <button type="button" class="btn btn-sm btn-success mb-3" data-toggle="collapse" data-target="#formNewCategory" aria-expanded="false" aria-controls="formNewCategory"><i class="fad fa-plus"></i> New Category</button>
                    
                    <div class="collapse" id="formNewCategory">
                        <form method="post" action="/admin/category/create">
                            <div class="form-group">
                                <div class="form-row align-items-center">
                                    <div class="col-md-4">
                                        <input class="form-control" id="inputTitle" name="category_title" value="{{ category.category_title }}" placeholder="Category Name" required />
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-sm btn-primary" id="submit">Create Category</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Category Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for category in categories %}
                        <tr class="small">
                            <td>{{ category.category_id }}</td>
                            <td>{{ category.category_title }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#formEditCategory" aria-expanded="false" aria-controls="formEditCategory" value="{{ category.category_title }}" onclick='location.href = "/admin/category/edit/{{ category.category_title }}";'><i class="fad fa-edit"></i> Edit</button>
                                <a class="btn btn-sm btn-danger" href="/admin/category/delete/{{ category.category_title }}"><i class="fad fa-times"></i> Delete</a>
                            </td>

                            <!-- <div class="collapse" id="formEditCategory">
                                <form method="post" action="/admin/category/update/{{ category.category_title }}" id="formCategory">
                                    <div class="form-group">
                                        <div class="form-row align-items-center">
                                            <div class="col-md-4">
                                                <input class="form-control" id="inputTitle" name="category_title" placeholder="Category Name" value="{{ category.category_title }}" />
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-sm btn-primary">Edit Category</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}