{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Edit Category</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <article style="width: 100%">
                    <form method="post" action="/admin/category/update/{{ category.category_title }}" id="formCategory">
                        <div class="form-group">
                            <div class="form-row align-items-center">
                                <div class="col-md-4">
                                    <input class="form-control" id="inputTitle" name="category_title" placeholder="Category Title" value="{{ category.category_title }}" />
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-sm btn-primary">Edit Category</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </article>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}