{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Edit Article</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <article style="width: 100%">
                    <form method="post" action="/admin/article/update/{{ blog.article_title }}" id="formArticle" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="inputTitle">Article Title</label>
                            <input class="form-control" id="inputTitle" name="article_title" placeholder="Article Title" value="{{ blog.article_title }}" aria-describedby="helpBlock" />
                            <small class="form-text text-muted" id="helpBlock">Leave Alone To Keep Current Article Title</small>
                        </div>
                        
                        <div class="form-group">
                            <img width="150" src="/images/article_images/{{ blog.article_image }}" alt="">
                            <input type="file" id="inputImage" name="article_image" value="{{ blog.article_image }}" />
                        </div>

                        <div class="form-group">
                            <label for="inputContent">Article Content</label>
                            <textarea class="form-control" name="article_content" placeholder="Article Content" id="inputContent" cols="30" rows="10" required>{{ blog.article_content|raw }}</textarea>
                        </div>

                        <div class="form-group">
                            <div class="form-row align-items-center">
                                <div class="col-md-3">
                                    <label for="inputCategory">Article Category</label>
                                    <select class="form-control form-control-md" name="article_category_id" id="article_category_id">
                                        {% for category in category %}
                                            <option value="{{ category.category_id }}">
                                                {{ category.category_title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputTags">Article Tags</label>
                            <input class="form-control" id="inputTags" name="article_tags" placeholder="Article Tags" value="{{ blog.article_tags }}" required />
                        </div>

                        <button class="btn btn-success">Update Article</button>
                        <button class="btn btn-primary" onclick='location.href = "/article/{{ blog.article_title }}";' name="viewArticle" type="button">View Article</button>
                    </form>
                </article>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}