{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Edit Forum Topic</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <article style="width: 100%">
                    <form method="post" action="/admin/forum/topic/update/{{ forum_topic.forum_topic_title }}" id="formForumTopic">
                        <div class="form-group col-md-6">
                            <input class="form-control" id="inputTitle" name="forum_topic_title" placeholder="Forum Topic Title" value="{{ forum_topic.forum_topic_title }}" />
                        </div>
                        <div class="form-group col-md-12">
                            <input class="form-control" id="inputDescription" name="forum_topic_description" placeholder="Forum Topic Description" value="{{ forum_topic.forum_topic_description }}" />
                        </div>
                        <div class="form-group col-md-auto">
                            <button class="btn btn-sm btn-primary">Edit Topic</button>
                        </div>
                        </div>
                    </form>
                </article>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}