{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Forum Index</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}