{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Forum Posts</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Thread</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for forum_post in forum_posts %}
                        <tr class="small">
                            <td>{{ forum_post.forum_post_id }}</td>
                            <td>{{ forum_post.forum_post_thread_id }}</td>
                            <td>{{ forum_post.forum_post_content|length > 50 ? forum_post.forum_post_content|slice(0, 75)|striptags ~ '...' : forum_post.forum_post_content }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="#/admin/forum/editForumPost"><i class="fad fa-edit"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" href="#/admin/forum/deleteForumPost"><i class="fad fa-times"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}