{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Forum Topics</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <button type="button" class="btn btn-sm btn-success mb-3" data-toggle="collapse" data-target="#formNewForumTopic" aria-expanded="false" aria-controls="formNewForumTopic"><i class="fad  fa-plus"></i> New Forum Topic</button>

                <div class="collapse" id="formNewForumTopic">
                    <form method="post" action="/admin/community/createTopic">
                        <div class="form-row form-group align-items-center col-md-12">
                            <div class="col-md-4">
                                <input class="form-control" id="inputTitle" name="forum_topic_title" value="{{ forum.forum_topic_title }}" placeholder="Forum Topic Name" required />
                            </div>
                            <div class="col-auto">
                                <select class="form-control form-control-md" name="forum_topic_category_id" id="forum_topic_category_id">
                                    {% for forum_category in forum_category %}
                                        <option value="{{ forum_category.forum_category_id }}">
                                            {{ forum_category.forum_category_title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input class="form-control" id="inputDescription" name="forum_topic_description" value="{{ forum.forum_topic_description }}" placeholder="Forum Topic Description" required />
                        </div>
                        <div class="form-group col-auto">
                            <button type="submit" class="btn btn-sm btn-primary" id="submit">Create Forum Topic</button>
                        </div>
                    </form>
                </div>

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Icon</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for forum_topic in forum_topics %}
                        <tr class="small">
                            <td>{{ forum_topic.forum_topic_id }}</td>
                            <td>{{ forum_topic.forum_topic_category_id }}</td>
                            <td><i class="{{ forum_topic.forum_topic_icon }}"></i></td>
                            <td>{{ forum_topic.forum_topic_title }}</td>
                            <td>{{ forum_topic.forum_topic_description }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#formEditTopic" aria-expanded="false" aria-controls="formEditForumTopic" value="{{ forum_topic.forum_topic_title }}" onclick='location.href = "/admin/community/editTopic/{{ forum_topic.forum_topic_title }}";'><i class="fad fa-edit"></i> Edit</button>
                                <a class="btn btn-sm btn-danger" href="/admin/community/deleteTopic/{{ forum_topic.forum_topic_title }}"><i class="fad fa-times"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}