{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Forum Categories</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <table class="table table-hover">
                    <button type="button" class="btn btn-sm btn-success mb-3" data-toggle="collapse" data-target="#formNewForumCategory" aria-expanded="false" aria-controls="formNewForumCategory"><i class="fad fa-plus"></i> New Forum Category</button>
                    
                    <div class="collapse" id="formNewForumCategory">
                        <form method="post" action="/admin/community/createCategory">
                            <div class="form-group">
                                <div class="form-row align-items-center">
                                    <div class="col-md-4">
                                        <input class="form-control" id="inputTitle" name="forum_category_title" value="{{ forum_category.forum_category_title }}" placeholder="Forum Category Name" required />
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-sm btn-primary" id="submit">Create Forum Category</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for forum_category in forum_categories %}
                        <tr class="small">
                            <td>{{ forum_category.forum_category_id }}</td>
                            <td>{{ forum_category.forum_category_title }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#formEditCategory" aria-expanded="false" aria-controls="formEditForumCategory" value="{{ forum_category.forum_category_title }}" onclick='location.href = "/admin/community/editCategory/{{ forum_category.forum_category_title }}";'><i class="fad fa-edit"></i> Edit</button>
                                <a class="btn btn-sm btn-danger" href="/admin/community/deleteCategory/{{ forum_category.forum_category_title }}"><i class="fad fa-times"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}