{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Dashboard</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <div class="row">
                    <section class="col-md-4 mb-3">
                        <div class="card bg-primary">
                            <div class="card-header bg-primary text-right">
                                <div class="d-flex align-content-end">
                                    <div class="mr-auto p-2">
                                        <i class="fad fa-file-alt fa-4x" style="color: #FFF;"></i>
                                    </div>
                                    <div class="d-flex align-items-end flex-column">
                                        <div class="p-md-3"><h5 style="color: #FFF;">{{ articles|length }} <br>Articles</h5></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/article/index">
                                <div class="card-footer bg-light text-primary">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </section>

                    <section class="col-md-4 mb-3">
                        <div class="card bg-dark">
                            <div class="card-header bg-dark text-right">
                                <div class="d-flex align-content-end">
                                    <div class="mr-auto p-2">
                                        <i class="fad fa-bars fa-4x" style="color: #FFF;"></i>
                                    </div>
                                    <div class="d-flex align-items-end flex-column">
                                        <div class="p-md-3"><h5 style="color: #FFF;">{{ categories|length }} <br>Categories</h5></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/category/index">
                                <div class="card-footer bg-light text-dark">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </section>
    
                    <section class="col-md-4 mb-3">
                        <div class="card bg-success">
                            <div class="card-header bg-success text-right">
                                <div class="d-flex align-content-end">
                                    <div class="mr-auto p-2">
                                        <i class="fad fa-comments fa-4x" style="color: #FFF;"></i>
                                    </div>
                                    <div class="d-flex align-items-end flex-column">
                                        <div class="p-md-3"><h5 style="color: #FFF;">{{ comments|length }} <br>Comments</h5></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#/admin/comment/index">
                                <div class="card-footer bg-light text-success">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </section>

                    <section class="col-md-4 mb-3">
                        <div class="card bg-warning">
                            <div class="card-header bg-warning text-right">
                                <div class="d-flex align-content-end">
                                    <div class="mr-auto p-2">
                                        <i class="fad fa-bars fa-4x" style="color: #FFF;"></i>
                                    </div>
                                    <div class="d-flex align-items-end flex-column">
                                        <div class="p-md-3"><h5 style="color: #FFF;">{{ forumCategories|length }} <br>Forum Categories</h5></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/community/category">
                                <div class="card-footer bg-light text-warning">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </section>

                    <section class="col-md-4 mb-3">
                        <div class="card bg-danger">
                            <div class="card-header bg-danger text-right">
                                <div class="d-flex align-content-end">
                                    <div class="mr-auto p-2">
                                        <i class="fad fa-tags fa-4x" style="color: #FFF;"></i>
                                    </div>
                                    <div class="d-flex align-items-end flex-column">
                                        <div class="p-md-3"><h5 style="color: #FFF;">{{ userGroups|length }} <br>User Groups</h5></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/user/group">
                                <div class="card-footer bg-light text-danger">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </section>

                    <section class="col-md-4 mb-3">
                        <div class="card bg-light">
                            <div class="card-header bg-light text-right">
                                <div class="d-flex align-content-end">
                                    <div class="mr-auto p-2">
                                        <i class="fad fa-th-list fa-4x" style="color: #000;"></i>
                                    </div> 
                                    <div class="d-flex align-items-end flex-column">
                                        <div class="p-md-3"><h5 style="color: #000;">{{ forumTopics|length }} <br>Forum Topics</h5></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/community/topic">
                                <div class="card-footer bg-light text-dark">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </section>

                    <section class="col-md-4 mb-3">
                        <div class="card bg-secondary">
                            <div class="card-header bg-secondary text-right">
                                <div class="d-flex align-content-end">
                                    <div class="mr-auto p-2">
                                        <i class="fad fa-user fa-4x" style="color: #FFF;"></i>
                                    </div>
                                    <div class="d-flex align-items-end flex-column">
                                        <div class="p-md-3"><h5 style="color: #FFF;">{{ users|length }} <br>Users</h5></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/user/index">
                                <div class="card-footer bg-light text-secondary">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </section>
                </section>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}