{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>New Article</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <section style="width: 100%">
                    <form method="post" action="/admin/article/create" id="formNewArticle" enctype="multipart/form-data">
                        <input class="form-control" id="inputAuthor" name="article_author" type="hidden" value="{{ current_user.username }}" />

                        <div class="form-group">
                            <label for="inputTitle">Article Title</label>
                            <input class="form-control" id="inputTitle" name="article_title" value="{{ article.article_title }}" required />
                        </div>

                        <div class="form-group">
                            <img width="150" src="/images/article_images/{{ article.article_image }}" alt="">
                            <input type="file" id="inputImage" name="article_image" value="{{ article.article_image }}" />
                        </div>

                        <div class="form-group">
                            <label for="inputContent">Article Content</label>
                            <textarea class="form-control" name="article_content" id="inputContent" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="inputCategory">Article Category</label>
                            <select name="article_category_id" id="article_category_id">
                                {% for category in category %}
                                    <option value="{{ category.category_id }}">
                                        {{ category.category_title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputTags">Article Tags</label>
                            <input id="inputTags" class="form-control" name="article_tags" required>
                        </div>

                        <button type="submit" class="btn btn-primary" onclick="tinyMCE.triggerSave();">Create Article</button>
                    </form>
                </section>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}