{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>User Groups</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <table class="table table-hover">
                    <a class="btn btn-sm btn-success" href="#/admin/user/newUserGroup" style="margin-bottom: 0.5rem; margin-top: -0.5rem !important;"><i class="fad fa-plus"></i> New Group</a>
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_group in user_groups %}
                        <tr class="small">
                            <td>{{ user_group.user_group_id }}</td>
                            <td>{{ user_group.user_group_title }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="#/admin/user/editUserGroup"><i class="fad fa-edit"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" href="#/admin/user/deleteUserGroup"><i class="fad fa-times"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}