{% extends 'Templates/Admin/Admin.html.twig' %}

{% block head %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Admin/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>Users</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <table class="table table-hover">
                    <a class="btn btn-sm btn-success" href="#/admin/user/new" style="margin-bottom: 0.5rem; margin-top: -0.5rem !important;"><i class="fad fa-plus"></i> New User</a>
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Sign-Up Date</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {% for user in users %}
                        <tr class="small">
                            <td>{{ user.user_id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.user_first_name }}</td>
                            <td>{{ user.user_last_name }}</td>
                            <td>{{ user.user_email }}</td>
                            <td>{{ user.user_signup_date|date("F dS, Y") }}</td>
                            <td>{{ user.user_role }}</td>
                            <td>
                                <a class="btn btn-sm btn-warning" style="color: #ffffff" href="#/admin/user/viewUser"><i class="fad fa-search"></i> View</a>
                                <a class="btn btn-sm btn-primary" href="#/admin/user/editUser"><i class="fad fa-edit"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" href="#/admin/user/deleteUser"><i class="fad fa-times"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}