{% extends 'Templates/Password.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
                    <h1>Forgot Password</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <form method="post" action="/password/request-reset">
                    <div class="form-group">
                        <label for="inputEmail">Email Address</label>
                        <input class="form-control" type="email" id="inputEmail" name="user_email" placeholder="Email Address" autofocus required />
                    </div>
                    <div class='form-group'>
                        <div class='control'>
                            <button class='btn btn-outline-success btn-md' type='submit'>Send Password Reset</button>
                        </div>
                    </div>
                </form>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}