{% extends 'Templates/Password.html.twig' %}

{% block title %}Password Reset Successful{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
					<h1>Password Reset was Successful</h1>
					<p>You can now <a href="/">Login</a>.</p>
					<hr>
                </header>
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endblock %}