{% extends 'Templates/Password.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block javascripts %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formPassword').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
                    <h1>Reset Password</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                {% if user.errors is not empty %}
                    <p>Errors:</p>
                    <ul>
                        {% for error in user.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="post" action="/password/reset-password" id="formPassword">
                    <input type="hidden" name="token" value="{{ token }}" />
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" type="password" id="inputPassword" name="user_password" placeholder="Password" required />
                    </div>
                    <button type="submit" class="btn btn-toc-outline-warning btn-md">Reset Password</button>
                </form>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}