{% extends 'Templates/Password.html.twig' %}

{% block title %}Password Reset Successful{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
					<h1>Request to Reset Password Sent</h1>
					<p>Please Check Your Email.</p>
					<hr>
                </header>
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endblock %}