{% extends 'Templates/Password.html.twig' %}

{% block title %}Request Password Reset{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
					<h1>Request Password Reset</h1>
					<p>The Link to Reset Your Password is Invalid or has Expired, Please <a href="/password/forgot">Click Here</a> To Request Another Link.</p>
                    <hr>
                </header>
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endblock %}