{% extends 'Templates/Home.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/9-3.html.twig' %}

            {% block carousel %}
                {%  include 'Widgets/Carousel.html' %}
            {% endblock %}

            {% block content %}
                <div class="d-md-flex mb-4">
                    <div class="dropdown mr-md-2">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="catDrop-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fad  fa-tags"></i> All Categories
                        </button>
                        <div class="jsog-scroll-menu dropdown-menu" aria-labelledby="catDrop-1">
                            <a class="dropdown-item" href="#">Link 1</a>
                        </div>
                    </div>

                    <div class="dropdown mr-auto">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="catDrop-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Recent Posts
                        </button>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="catDrop-2">
                            <a class="dropdown-item" href="#">Recent</a>
                            <a class="dropdown-item" href="#">Oldest</a>
                            <a class="dropdown-item" href="#">Popular</a>
                            <a class="dropdown-item" href="#">Most Comments</a>
                        </div>
                    </div>

                    <div class="dropdown mr-md-2">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="catDrop-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Descending
                        </button>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="catDrop-3">
                            <a class="dropdown-item" href="#">Descending</a>
                            <a class="dropdown-item" href="#">Assending</a>
                            <a class="dropdown-item" href="#">Random</a>
                        </div>
                    </div>

                    <div class="btn-group" role="group" aria-label="first group">
                        <button type="button" class="btn btn-outline-dark"><i class="fad  fa-list"></i></button>
                        <button type="button" class="btn btn-outline-dark"><i class="fad  fa-th-large"></i></button>
                    </div>
                </div>
                
                {% for article in articles|slice(0, 3) %}
                    <article class="post mb-3">
                        <img class="img img-fluid" src="/images/article_images/{{ article.article_image }}" alt="..." onerror="this.onerror=null;this.src='/images/article_images/placeholder-sm.png';this.style='width:1px;height:1px;padding:0;margin:0;'">
                        <div class="post-body">
                            <h3 class="post-title"><a href="/article/{{ article.article_title }}">{{ article.article_title }}</a></h3>
                            <div class="post-meta">
                                <span class="post-meta-item"><i class="fad  fa-calendar-alt"></i> {{ article.article_date|date("F jS, Y") }}</span>
                                <span class="post-meta-item"><a href="#"><i class="fad  fa-user"></i> {{ article.article_author }}</a></span>
                                <span class="post-meta-item"><i class="fad  fa-clock"></i> 15:30</span>
                                <span class="post-meta-item"><i class="fad  fa-comments"></i> 2 Comments</span>
                            </div>
                            <p class="post-content">
                                {{ article.article_content|length > 50 ? article.article_content|slice(0, 350)|striptags ~ '...' : article.article_content }}
                            </p>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-sm btn-outline-dark" href="/article/{{ article.article_title }}">Read More <span class="fad fa-chevron-right"></span></a>
                            </div>
                            
                            <p class="blog-post-meta tnc-blog-tag mt-3"><i class="fad fa-tags"></i> <small class="text-secondary"> {{ article.article_tags }}</small></p>
                        </div>
                    </article>
                {% endfor %}

                <nav>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>

                <iframe src="https://open.spotify.com/embed-podcast/show/2tsX0rKvxd53xk4rGBqb5s" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {% endblock %}

            {% block sidebar %}
                {%  include 'Widgets/Blog-Search.html' %}
                {%  include 'Widgets/Featured-Articles.html' %}
                {%  include 'Widgets/Blog-Categories.html' %}
                {%  include 'Widgets/Recent-Articles.html' %}
                {%  include 'Widgets/PayPal.html' %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}