<form class="form">
    <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-dark" id="btn-1" type="submit"><i class="fad  fa-search"></i></button>
        </div>
    </div>
</form>