<section class="widget-secondary">
    <div class="widget-header">Categories</div>
    <div class="list-group">
        {% for category in categories %}
            <a href="#" class="list-group-item list-group-item-action">{{ category.category_title }}</a>
        {% endfor %}
    </div>
</section>