<section class="widget">
    <div class="widget-header">Featured</div>
    {% for featureArticle in featureArticles|slice(0, 1) %}
        <article class="widget-post">
            <a href="/article/{{ featureArticle.article_title }}"><img class="img img-fluid" src="/images/article_images/{{ featureArticle.article_image }}" alt="..." onerror="this.onerror=null;this.src='/images/article_images/placeholder-sm.png';this.style='width:1px;height:1px;padding:0;margin:0;'"></a>
            <div class="post-body">
                <h6 class="post-title"><a href="/article/{{ featureArticle.article_title }}">{{ featureArticle.article_title }}</a></h6>
                <div class="post-meta">
                    <span class="post-meta-item"><i class="fad  fa-calendar-alt"></i> {{ featureArticle.article_date|date("F jS, Y") }}</span>
                </div>
                <p class="post-content">
                    {{ featureArticle.article_content|length > 15 ? featureArticle.article_content|slice(0, 100)|striptags ~ '...' : featureArticle.article_content }}
                </p>
            </div>
        </article>
    {% endfor %}
</section>