<section class="widget">
    <div class="widget-header">Recent</div>
    {% for article in articles|slice(0, 1) %}
        <article class="widget-post">
            <a href="/article/{{ article.article_title }}"><img class="img img-fluid" src="/images/article_images/{{ article.article_image }}" alt="..." onerror="this.onerror=null;this.src='/images/article_images/placeholder-sm.png';this.style='width:1px;height:1px;padding:0;margin:0;'"></a>
            <div class="post-body">
                <h6 class="post-title"><a href="/article/{{ article.article_title }}">{{ article.article_title }}</a></h6>
                <div class="post-meta">
                    <span class="post-meta-item"><i class="fad  fa-calendar-alt"></i> {{ article.article_date|date("F jS, Y") }}</span>
                </div>
                <p class="post-content">
                    {{ article.article_content|length > 15 ? article.article_content|slice(0, 100)|striptags ~ '...' : article.article_content }}
                </p>
            </div>
        </article>
    {% endfor %}

    {% for article in articles|slice(0, 3) %}
        <div class="widget-list">
            <article class="widget-post">
                <a href="/article/{{ article.article_title }}"><img class="img img-fluid" src="/images/article_images/{{ article.article_image }}" alt="..." style="object-fit: contain;" onerror="this.onerror=null;this.src='/images/article_images/placeholder-sm.png';this.style='width:1px;height:1px;padding:0;margin:0;'"></a>
                <div class="post-body">
                    <h6 class="post-title"><a href="/article/{{ article.article_title }}">{{ article.article_title }}</a></h6>
                    <div class="post-meta">
                        <span class="post-meta-item"><i class="fad  fa-calendar-alt"></i> {{ article.article_date|date("F jS, Y") }}</span>
                    </div>
                </div>
            </article>
        </div>
    {% endfor %}
</section>