<section class="card rounded-0 mb-3">
    <div class="card-body">
        <h6>Tags</h6>
        <ul class="nav">
            {% for category in categories %}
                <li class="nav-item"><a class="btn btn-sm btn-outline-light" href="#">{{ category.category_title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>