<section class="card rounded-0 mb-3">
    {% if current_user %}
        <div class="card-header">User</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img class="img img-fluid rounded-circle" src="/images/profile_images/default/{{ current_user.user_image }}" alt="" />
                </div>
                <div class="col-md-9">
                    <h5 class="card-title my-0">Welcome <strong>{{ current_user.username }}</strong></h5>
                    <p class="card-subtitle mt-0 mb-2"><small>{{ current_user.user_email }}</small></p>
                    <button class="btn btn-outline-primary" onclick='location.href="/profile/show";' name="viewProfile" type="button">View Profile</button>
                    <button class="btn btn-outline-danger" onclick='location.href="/logout";' name="logout" type="button">Logout</button>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card-header">Login</div>

        <div class="card-body">
            <form method="post" action="/login/create">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fad fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="inputUserName" name="username" placeholder="Username" value="{{ username }}" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fad fa-lock"></i>
                        </div>
                        <input class="form-control" type="password" id="inputPassword" name="user_password" placeholder="Password" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input id="login-remember" type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} > Remember Me</input>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class='control'>
                        <button class='btn btn-outline-success btn-block' type='submit'>Login</button>
                        <button class='btn btn-outline-danger btn-block' onclick='location.href = "/signup/new";' name='register' type='button'>Register</button>
                    </div>
                    <hr>
                    <medium>Forgot Your Password? <a href="/password/forgot">Click Here</a></medium>
                </div>
            </form>
        </div>
    {% endif %}
    <span></span>
</section>