<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/admin/dashboard/index">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard/index"><i class="fad fa-desktop"></i> Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/article/index"><i class="fad fa-file-alt"></i> Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/category/index"><i class="fad fa-bars"></i> Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user/index"><i class="fad fa-users"></i> Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user/group"><i class="fad fa-tags"></i> User Groups</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Forum <i class="fad fa-chevron-down"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/admin/community/category"><i class="fad fa-bars"></i> Forum Categories</a>
                    <a class="dropdown-item" href="/admin/community/topic"><i class="fad fa-th-list"></i> Forum Topics</a>
                    <a class="dropdown-item" href="/admin/community/post"><i class="fad fa-stream"></i> Forum Posts</a>
                </div>
            </li>
        </ul>
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fad fa-eye"></i> View Site</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled pr-0 mr-0">Welcome</a>
            </li>
            <li class="nav-item dropdown dropleft">
                <a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-expanded="false">{{ current_user.username }} <i class="fad fa-chevron-down"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="/profile/show" name="viewProfile"><i class="fad fa-bars"></i> View Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout" name="logout"><i class="fad fa-power-off"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>