<nav class="col-md-3 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item disabled navbar-brand pl-0">Site Administration</li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="/admin/dashboard/index"><i class="fad fa-desktop"></i> Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="/admin/article/index"><i class="fad fa-file-alt"></i> Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="/admin/category/index"><i class="fad fa-bars"></i> Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="/admin/user/index"><i class="fad fa-users"></i> Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="/admin/user/group"><i class="fad fa-tags"></i> User Groups</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item disabled navbar-brand pl-0">Forum Administration</li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="/admin/community/category"><i class="fad fa-bars"></i> Forum Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="/admin/community/topic"><i class="fad fa-th-list"></i> Forum Topics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="/admin/community/post"><i class="fad fa-stream"></i> Forum Posts</a>
        </li>
    </ul>
</nav>