{% extends 'Templates/Article.html.twig' %}

{% block title %}{{ blog.article_title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{{ blog.article_title }}</li>
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12-1.html.twig' %}
        
            {% block content %}
                <article class="post">
                    <div class="post-img">
                        <img class="img img-fluid" src="/images/article_images/{{ blog.article_image }}" alt="..." onerror="this.onerror=null;this.src='/images/article_images/placeholder-sm.png';this.style='width:1px;height:1px;pading:0;margin:0;'">
                    </div>
                    
                    <div class="post-body">
                        <div class="d-flex justify-content-between">
                            <h2 class="post-title">{{ blog.article_title }}</h2>
                            <div class="pull-right">
                                {% if current_user %}
                                    {% if current_user.hasRole('Admin') %}
                                        <button class="btn btn-outline-warning btn-md float-right" onclick='location.href = "/admin/article/edit/{{ blog.article_title }}";' name="editArticle" type="button">Edit Article</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="post-meta">
                            <span class="post-meta-item"><i class="fad  fa-calendar-alt"></i> {{ blog.article_date|date("F jS, Y") }}</span>
                            <span class="post-meta-item"><a href="#"><i class="fad  fa-user"></i> {{ blog.article_author }}</a></span>
                            <a class="post-meta-item"><i class="fad  fa-clock"></i> {{ blog.article_date|date("H:i") }}</a>
                            <span class="post-meta-item"><a href="#comments"><i class="fad  fa-comments"></i> Comments</a></span>
                        </div>

                        <p>{{ blog.article_content|raw }}</p>
                    </div>
                </article>

                <a id="comments"></a>
                    <h6 class="forum-header"><i class="fad  fa-comments"></i> 2 Comments</h6>

                    <article class="card mb-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 align-self-center">
                                    <div class="d-inline-flex">
                                        <div class="mr-2">
                                            <i class="fad  fa-user fa-3x"></i>
                                        </div>
                                        
                                        <div class="d-flex flex-column">
                                            <p class="table-meta"><a href="#">J. Schmidt</a></p>
                                            <small class="table-meta">Posts: 15</small>
                                            <small class="table-meta">Votes: 10</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex justify-content-between align-items-baseline">
                                        <p><i class="fad  fa-clock"></i> 6 Hours Ago</p>
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-pen"></i> Edit</a></small>
                                    </div>

                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta labore aliquam eligendi veniam sequi? Molestias inventore amet eligendi omnis accusamus exercitationem corporis laudantium officia, animi at modi fugit cum sapiente porro sit enim veniam in quibusdam laborum voluptas ipsum alias ducimus? Libero fugit quidem minus ab sed velit eos sunt?</p>
                                    <div class="d-flex justify-content-end">
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-flag"></i> Report</a></small>
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-reply"></i> Reply</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 align-self-center">
                                    <div class="d-inline-flex">
                                        <div class="mr-2">
                                            <i class="fad  fa-user fa-3x"></i>
                                        </div>
                                        
                                        <div class="d-flex flex-column">
                                            <p class="table-meta"><a href="#">J. Schmidt</a></p>
                                            <small class="table-meta">Posts: 15</small>
                                            <small class="table-meta">Votes: 10</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex justify-content-between align-items-baseline">
                                        <p><i class="fad  fa-clock"></i> 12 Hours Ago</p>
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-pen"></i> Edit</a></small>
                                    </div>

                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta labore aliquam eligendi veniam sequi? Molestias inventore amet eligendi omnis accusamus exercitationem corporis laudantium officia, animi at modi fugit cum sapiente porro sit enim veniam in quibusdam laborum voluptas ipsum alias ducimus? Libero fugit quidem minus ab sed velit eos sunt?</p>
                                    <div class="d-flex justify-content-end">
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-flag"></i> Report</a></small>
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-reply"></i> Reply</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <section class="row mt-3">
                        <a id="reply"></a>
                        <div class="col-md">
                            <div class="card mb-1">
                                <form>
                                    <div class="form-group" id="formTextArea-1">
                                        <textarea class="form-control" id="postTextArea-1" rows="10"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="d-flex justify-content-end my-3">
                                <button type="submit" class="btn btn-md btn-outline-success">Submit Comment</button>
                            </div>
                        </div>
                    </section>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}