{% extends 'Templates/Community.html.twig' %}

{% block title %}Community{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Forum</li>
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12-1.html.twig' %}
            {% block content %}
                <!-- set a variable with the previous category ID, initially zero -->
                {% set previous_category_id = 0 %}

                {% for forum in community|sort %}

                    {% if forum.forum_category_id != previous_category_id %}

                        <!-- close off the previous table if this is NOT the first time through the loop -->
                        {% if previous_category_id != 0 %}
                            </tbody>
                        </table>
                        {% endif %}
                        <h6 class="forum-header">{{ forum.forum_category_title }}</h6>
                        
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="d-none d-md-table-cell" scope="col"></th>
                                    <th scope="col">Forum</th>
                                    <th class="text-center" scope="col">Threads</th>
                                    <th class="d-none d-sm-table-cell text-center" scope="col">Replies</th>
                                    <th class="d-none d-lg-table-cell" scope="col">Latest Threads</th>
                                </tr>
                            </thead>
                            <tbody>
                    {% endif %}
                                <tr>
                                    <td class="d-none d-md-table-cell table-icon text-center">
                                        <i class="{{ forum.forum_topic_icon }}"></i>
                                    </td>
                                    <td>
                                        <h6 class="table-header"><a href="/community/{{ forum.forum_category_title }}/{{ forum.forum_topic_title }}">{{ forum.forum_topic_title }}</a></h6>
                                        <p class="table-text">{{ forum.forum_topic_description }}</p>
                                    </td>
                                    <td class="text-center">{{ forum.forum_topic_thread_count }}</td>
                                    <td class="d-none d-sm-table-cell text-center">{{ forum.forum_topic_reply_count }}</td>

                                    {% if threads[forum.forum_topic_id] is defined %}
                                        <td class="d-none d-lg-table-cell">
                                            <h6 class="table-subtitle"><a href="/community/{{ forum.forum_category_title }}/{{ forum.forum_topic_title }}/{{ threads[forum.forum_topic_id]['forum_thread_title'] }}">{{ threads[forum.forum_topic_id]['forum_thread_title'] }}</a></h6>
                                            <p class="table-meta"><a href="#">{{ threads[forum.forum_topic_id]['forum_thread_author'] }}</a> {{ threads[forum.forum_topic_id]['forum_thread_date']|date("F dS, Y") }}</p>
                                        </td>
                                            
                                    {% else %}
                                        <td class="d-none d-lg-table-cell">
                                            <h6 class="table-subtitle">No Threads Yet</h6>
                                        </td>
                                    {% endif %}
                                        
                                </tr>
                                
                    <!-- set the previous category variable to the current category ID -->
                    {% set previous_category_id = forum.forum_category_id %}

                    <!-- close the final table if it's the last time through the loop -->
                    {% if loop.last %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}

                <section class="row">
                    <div class="col-md">
                        <div class="card">
                            {% if current_user %}
                            <div class="card-header">Welcome {{ current_user.username }}</div>
                            <div class="card-body">
                                <form>
                                    <div class="form-row align-items-center">
                                        <div class="col-md-auto">
                                            <h4>{{ current_user.user_first_Name }}</h4>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% else %}
                            <div class="card-header">Login To Your Account</div>
                            <div class="card-body">
                            <form>
                                <div class="form-row align-items-center">
                                    <div class="col-md-auto">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fad  fa-user"></i></div>
                                            </div>
                                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-md-auto">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fad  fa-key"></i></div>
                                            </div>
                                            <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-md-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                                            <label class="form-check-label" for="autoSizingCheck">Remember Me</label>
                                        </div>
                                    </div>
                                    <div class="col-md-auto">
                                        <button type="submit" class="btn btn-outline-success">Login</button>
                                    </div>
                                    <div class="col-md-auto">
                                        <button onclick="window.location.href='./register.html'" type="button" class="btn btn-outline-primary">Register</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
    
                <section class="row mt-3">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header"><span class="userPing"></span> Users Online: {{ onlineUsers|length }}</div>
                            <div class="card-body"></div>
                        </div>
                    </div>
                </section>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}