{% extends 'Templates/Community.html.twig' %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12-1.html.twig' %}
        
            {% block header %}
                <header>
                    <h1>New Thread</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <form method="post" action="/community/createThread" id="formNewThread" enctype="multipart/form-data">
                    <input class="form-control" id="inputThreadAuthor" name="forum_thread_author" type="hidden" value="{{ current_user.username }}" />
                    <input class="form_control" id="inputThreadTopicID" name="forum_thread_topic_id" type="hidden" value="{{ threadTopic.forum_topic_id }}">

                    <div class="form-group">
                        <label for="inputTitle">Thread Title</label>
                        <input class="form-control" id="inputTitle" name="forum_thread_title" value="{{ forum.forum_thread_title }}" required />
                    </div>

                    <div class="form-group">
                        <label for="inputContent">Thread Content</label>
                        <textarea class="form-control" name="forum_thread_content" id="inputContent" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary" onclick="tinyMCE.triggerSave();">Create Thread</button>
                </form>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}