{% extends 'Templates/Community.html.twig' %}

{% block title %}Community{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/community/index">{{ threadTopicCategory.forum_category_title }}</a></li>
    <li class="breadcrumb-item"><a href="/community/{{ threadTopicCategory.forum_category_title }}/{{ threadTopic.forum_topic_title }}">{{ threadTopic.forum_topic_title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ thread.forum_thread_title }}</li>
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12-1.html.twig' %}
        
            {% block content %}
                <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="forum-header">{{ thread.forum_thread_title }}</h6>
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-outline-warning mr-2" href="#edit">Edit Thread</a>
                        <a class="btn btn-sm btn-outline-primary" href="#reply">Reply to Thread</a>
                    </div>                        
                </div>

                <div class="table-responsive-md">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-inline-flex">
                                        <div class="mr-2">
                                            <i class="fad  fa-user fa-3x"></i>
                                        </div>
                                        
                                        <div class="d-flex flex-column">
                                            <p class="table-meta"><a href="#">{{ thread.forum_thread_author }}</a></p>
                                            <small class="table-meta">Posts: 15</small>
                                            <small class="table-meta">Votes: 10</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-between align-items-baseline">
                                        <p class="table-meta"><i class="fad  fa-calendar-alt"></i> {{ thread.forum_thread_date|date("F dS, Y") }} at <i class="fad  fa-clock"></i> {{ thread.forum_thread_date|date("H:i") }}</p>
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-pen"></i> Edit</a></small>
                                    </div>

                                    <p>{{ thread.forum_thread_content|raw }}</p>
                                    <div class="d-flex justify-content-end">
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-flag"></i> Report</a></small>
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-reply"></i> Reply</a></small>
                                    </div>
                                </td>
                            </tr>

                            {% for threadPost in threadPost %}
                            <tr>
                                <td>
                                    <div class="d-inline-flex">
                                        <div class="mr-2">
                                            <i class="fad  fa-user fa-3x"></i>
                                        </div>
                                        
                                        <div class="d-flex flex-column">
                                            <p class="table-meta"><a href="#">{{ threadPost.forum_post_author }}</a></p>
                                            <small class="table-meta">Posts: 15</small>
                                            <small class="table-meta">Votes: 10</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-between align-items-baseline">
                                        <p class="table-meta"><i class="fad  fa-calendar-alt"></i> {{ threadPost.forum_post_date|date("F dS, Y") }} at <i class="fad  fa-clock"></i> {{ threadPost.forum_post_date|date("H:i") }}</p>
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-pen"></i> Edit</a></small>
                                    </div>
                                    
                                    <p>{{ threadPost.forum_post_content|raw }}</p>
                                    <div class="d-flex justify-content-end">
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-flag"></i> Report</a></small>
                                        <small><a class="text-secondary" id="btn-link"><i class="fad  fa-reply"></i> Reply</a></small>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br>

                <a id="reply"></a>
                <form method="post" action="/community/replyToThread" id="formReplyToThread" enctype="multipart/form-data">
                    <input class="form-control" id="inputPostAuthor" name="forum_post_author" type="hidden" value="{{ current_user.username }}" />
                    <input class="form_control" id="inputPostThreadID" name="forum_post_thread_id" type="hidden" value="{{ thread.forum_thread_id }}">

                    <div class="form-group">
                        <textarea class="form-control" name="forum_post_content" id="inputContent" required></textarea>
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="form-group">
                            <button type="submit" class="btn btn-md btn-outline-success" onclick="tinyMCE.triggerSave();">Reply</button>
                        </div>
                    </div>
                </form>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}