{% extends 'Templates/Community.html.twig' %}

{% block title %}Community{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/community/index">{{ topicCategory.forum_category_title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ forumTopic.forum_topic_title }}</li>
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12-1.html.twig' %}
        
			{% block content %}
                <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="forum-header">{{ forumTopic.forum_topic_title }}</h6>
                    {% if current_user %}
                        {% if current_user.hasRole('Admin') %}
                            <a class="btn btn-sm btn-outline-primary" href="/community/{{ forumTopic.forum_topic_title }}/newThread">New Thread</a>
                        {% endif %}
                    {% endif %}
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="d-none d-md-table-cell" scope="col"></th>
                            <th scope="col">Thread</th>
                            <th class="text-center" scope="col">Replies</th>
                            <th class="d-none d-sm-table-cell text-center" scope="col">Views</th>
                            <th class="d-none d-lg-table-cell" scope="col">Last Post</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in topic|sort|reverse %}
                        <tr>
                            {% if topic[topic.forum_thread_topic_id] is defined %}
                                <td class="d-none d-md-table-cell table-icon text-center">
                                    <i class="fad  fa-user fa-2x"></i>
                                </td>
                                <td>
                                    <h6 class="table-header"><a href="/community/{{ topic.forum_category_title }}/{{ topic.forum_topic_title }}/{{ topic.forum_thread_title }}">{{ topic.forum_thread_title }}</a></h6>
                                    <p class="table-meta">By <a href="#">{{ topic.forum_thread_author }}</a> {{ topic.forum_thread_date|date("F dS, Y") }}</p>
                                </td>
                                <td class="text-center">{{ topic.forum_thread_reply_count }}</td>
                                <td class="d-none d-sm-table-cell text-center">{{ topic.forum_thread_view_count }}</td>
                                <td class="d-none d-lg-table-cell">
                                    <h6 class="table-subtitle"><a href="#">{{ topic.forum_thread_author }}</a></h6>
                                    <p class="table-meta"><i class="fad  fa-clock"></i> {{ topic.forum_thread_date|time_diff }}</p>
                                </td>
                            {% else %}
                                <td class="d-none d-lg-table-cell">
                                    <h6 class="table-subtitle">No Threads Yet</h6>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
			{% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}