<div class="row">
    <article class="col-md-12">
        {% block navbar %}{% endblock %}
    </article>

    <article class="col-md-2">
        <div class="mb-3">
            {% block sidebar %}{% endblock %}
        </div>
    </article>

    <article class="col-md-10">
        <div class="my-3">
            {% block header %}{% endblock %}
        </div>
        
        <div class="mb-3">
            {% block content %}{% endblock %}
        </div>
    </article>
</div>