{% extends 'Templates/Login.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
                    <h1>Login</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                <form method="post" action="/login/create">
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fad fa-user"></i>
                            </div>
                            <input type="text" class="form-control" id="inputUserName" name="username" placeholder="Username" value="{{ username }}" required />
                        </div>
                    </div>
        
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fad fa-lock"></i>
                            </div>
                            <input class="form-control" type="password" id="inputPassword" name="user_password" placeholder="Password" required />
                        </div>
                    </div>
        
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} > Remember Me</input>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class='control mb-3'>
                            <button class='btn btn-outline-success btn-md' type='submit'>Login</button>
                            <button class='btn btn-outline-danger btn-md' onclick='location.href = "/signup/new";' name='register' type='button'>Register</button>
                        </div>
                        
                        <medium>Forgot Your Password? <a href="/password/forgot">Click Here</a></medium>
                    </div>
                </form>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}