<nav class="jsog-breadcrumb navbar navbar-expand-md navbar-dark bg-white">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">JSOG</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% block breadcrumbs %}{% endblock %}</li>
        </ol>
    </div>
</nav>