<a name="top"></a>
<nav class="navbar navbar-expand-md navbar-dark jsog-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Joint Special Operations Group</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/community/index">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/media/index">Media</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
            {% if current_user %}
                <li class="nav-item dropdown dropleft">
                    <a class="nav-link" href="#" id="navDrop1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fad  fa-user"></i> {{ current_user.username }}</a>
                    <div class="dropdown-menu" id="form-1" aria-labelledby="navDrop1">
                        <div class="jsog-loginForm">
                            <a class="dropdown-item" href="/profile/show" name="viewProfile"><i class="fad fa-eye"></i> View Profile</a>

                            <div class="dropdown-divider"></div>

                            {% if current_user.hasRole('Admin') %}
                            <a class="dropdown-item" href="/admin/dashboard/index" name="admin"><i class="fad fa-cog"></i> Admin</a>
                            <a class="dropdown-item" href="/logout" name="logout"><i class="fad fa-sign-out-alt"></i> Logout</a>
                            {% else %}
                            <a class="dropdown-item" href="/logout" name="logout"><i class="fad fa-sign-out-alt"></i> Logout</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item dropdown dropleft">
                    <a class="nav-link" href="#" id="navDrop1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fad  fa-user"></i> Guest</a>
                    <div class="dropdown-menu" id="form-1" aria-labelledby="navDrop1">
                        <form class="jsog-loginForm" method="post" action="/login/create">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fad  fa-user"></i></span>
                                    </div>
                                    <input class="form-control" type="text" id="inputUserName" name="username" placeholder="UserName" value="{{ username }}" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fad  fa-key"></i></span>
                                    </div>
                                    <input class="form-control" type="password" id="inputPassword" name="user_password" placeholder="Password" required />
                                </div>                                            
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="login-remember" name="remember_me" {% if remember_me %} checked="checked" {% endif %}>
                                <label class="form-check-label" for="login-remember">Remember Me</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Login</button>
                                <button class="btn btn-primary" type="button" onclick="location.href = '/signup/new';" name="register">Register</button>
                            </div>

                            <div class="dropdown-divider"></div>

                            <small>Forgot your password? <a href="/password/forgot">Click Here</a></small>
                        </form>
                    </div>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>