{% extends 'Templates/Media.html.twig' %}

{% block title %}Media{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Media</li>
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12-1.html.twig' %}

            {% block content %}
                <div class="jsog-mediaContainer">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="true">Images (4)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Videos (3)</a>
                        </li>
                    </ul>
        
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="image" role="tabpanel" aria-labelledby="image-tab">
                            <section class="row mt-3">
                                <div class="col-md-3 p-1">
                                    <img class="img-thumbnail img-fluid" src="/images/512x512.png" alt="placeholder">
                                </div>
                                <div class="col-md-3 p-1">
                                    <img class="img-thumbnail img-fluid" src="/images/512x512.png" alt="placeholder">
                                </div>
                                <div class="col-md-3 p-1">
                                    <img class="img-thumbnail img-fluid" src="/images/512x512.png" alt="placeholder">
                                </div>
                                <div class="col-md-3 p-1">
                                    <img class="img-thumbnail img-fluid" src="/images/512x512.png" alt="placeholder">
                                </div>
                            </section>
                        </div>
        
                        <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
                            <section class="row mt-3">
                                <div class="col-md-4 p-1">
                                    <img class="img-thumbnail img-fluid" src="/images/800x600.png" alt="placeholder">
                                </div>
                                <div class="col-md-4 p-1">
                                    <img class="img-thumbnail img-fluid" src="/images/800x600.png" alt="placeholder">
                                </div>
                                <div class="col-md-4 p-1">
                                    <img class="img-thumbnail img-fluid" src="/images/800x600.png" alt="placeholder">
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}