{% extends 'Templates/Error.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
                    <h1>An Error Occurred</h1>
                    <p>Sorry, An Error Has Occurred.</p>
                </header>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}