    {% include 'admin-header.html' %}
    
    <body class="d-flex flex-column h-100 {% block theme %}default{% endblock %}">
        <main role="main" class="flex-shrink-0">
            <div class="container-fluid">

                {% block navbar %}
                    {%  include 'Templates/Admin/Navbars/MainNavbar.html.twig' %}
                {% endblock %}

                <article class="row justify-content-end">
                    <section class="col-sm-10">
                        {% for message in flash_messages %}
                            <div class="alert alert-{{ message.type }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span>&times;</span>
                                </button>
                                <strong>Heads Up!</strong> {{ message.body }}
                            </div>
                        {% endfor %}
                    </section>
                </article>

                {% block sidebar %}
                    {%  include 'Templates/Admin/Navbars/SideNavbar.html.twig' %}
                {% endblock %}
        
                {% block body %}
                    {% block layout %}{% endblock %}
                {% endblock %}

            </div>
        </main>

        {% include 'admin-footer.html' %}