<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title %}{% endblock %}</title>
            
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

            <!-- Font Awesome -->
            <script defer src="/js/all.min.js"></script>

            <!-- Custom CSS -->
            <link rel="stylesheet" href="/css/backend.css">

            {% block stylesheets %}{% endblock %}
        {% endblock %}
    </head>