<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title %}{% endblock %} - Joint Special Operations Group</title>

            
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <!-- Custom CSS -->
            <link rel="stylesheet" href="/css/frontend.min.css">
                    
            {% block stylesheets %}{% endblock %}

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69461259-2"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-69461259-2');
            </script>

        {% endblock %}
    </head>
    
    <body class="d-flex flex-column h-100 {% block theme %}default{% endblock %}">
        {% block priNavbar %}
            {%  include 'Templates/Navbars/MainNavbar.html.twig' %}
        {% endblock %}
        
        {% block breadcrumb %}
            <nav class="jsog-breadcrumb navbar navbar-expand-md navbar-dark bg-white">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">JSOG</a></li>
                        {% block breadcrumbs %}{% endblock %}
                    </ol>
                </div>
            </nav>
        {% endblock %}
            <div class="container">

                {% block alert %}
                    {% for message in flash_messages %}
                        <div class="alert alert-{{ message.type }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span>&times;</span>
                            </button>
                            <strong>Heads Up!</strong> {{ message.body }}
                        </div>
                    {% endfor %}
                {% endblock %}
                
                {% block body %}
                    {% block layout %}{% endblock %}
                {% endblock %}

            </div>
        </main>
        
        {% block footer %}
            <footer class="jsog-footer footer mt-auto py-3">
                <div class="container">
                    <section class="row">
                        <article class="col-md-4">
                            <div class="footer-title">About JSOG</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, neque dolores saepe laudantium consequuntur non! At vero quos quia pariatur sed? Tenetur accusamus rerum cum?</p>
                        </article>

                        <article class="col-md-4">
                            <div class="footer-title">Popular Categories</div>
                            <div class="footer-tags">
                                {% for category in categories %}
                                    <button type="button" class="btn btn-sm btn-outline-light">{{ category.category_title }}</button>
                                {% endfor %}
                            </div>
                        </article>

                        <article class="col-md-4">
                            <div class="footer-title">Subscribe</div>
                            <p>Subscribe to our newsletter to get notifications when new content and events are available.</p>
                            <form class="form">
                                <div class="input-group">
                                    <input class="form-control" type="email" placeholder="Email" aria-label="Email">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" id="btn-2" type="submit">Subscribe</button>
                                    </div>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="subscribe" name="subscribe">
                                    <label class="form-check-label" for="subscribe">Subscribe to Newsletter</label>
                                </div>
                            </form>
                        </article>
                    </section>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="d-flex flex-md-row">
                            <ul class="nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">About JSOG</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Terms of Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Documentation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Changelog</a>
                                </li>
                            </ul>
                            <p>Follow Us on Social Media</p>
                        </div>

                        <div class="d-flex flex-md-row">
                            <p class="mr-auto">&copy;  <script>document.write(new Date().getFullYear())</script> Innovative Studios. Designed and Built by Jacob Schmidt. All rights reserved.</p>
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fab fa-discord"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fab fa-twitch"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fab fa-spotify"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex flex-md-row">
                            <p class="mr-auto">Powered by My PHP MVC Framework.</p>
                        </div>
                    </div>                
                </div>
            </footer>

            <!-- jQuery first, then Tether, then Bootstrap JS. -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

            <!-- Font Awesome -->
            <script defer src="/js/all.min.js"></script>

            <!-- Custom JS -->
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
            <script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=s2fluqi8y99lhwwsdsmgxhbb5h3zke9a2iwzvkrqri1umhau'></script>
            <script defer src="/js/app.js"></script>

            {% block javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>