<a {% if active = 'home' %}class="active"{% endif %}> Home </a>
<a {% if active = 'community' %}class="active"{% endif %}> Community </a>
<a {% if active = 'article' %}class="active"{% endif %}> Article </a>