{% extends 'Templates/Profile.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/profile/show">{{ user.username }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
{% endblock %}

{% block javascripts %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>
<script>
    $(document).ready(function () {

        var userId = '{{ user.id }}';

        /**
         * Validate the form
         */
        $('#formProfile').validate({
            rules: {
                username: 'required',
                user_email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function () {
                                return userId;
                            }
                        }
                    }
                },
                user_password: {
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                user_email: {
                    remote: 'Email already taken'
                }
            }
        });


        /**
          * Show password toggle button
          */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/12.html.twig' %}
            {% block header %}
                <header>
                    <h1>Edit Profile</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block content %}
                {% if user.errors is not empty %}
                    <p>Errors:</p>
                    <ul>
                        {% for error in user.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="post" action="/profile/update" id="formProfile">
                    <div class="form-group">
                        <label for="inputUserName">Username</label>
                        <input class="form-control" id="inputUserName" name="username" placeholder="Username" value="{{ user.username }}" required />
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName">First Name</label>
                        <input class="form-control" id="inputFirstName" name="user_first_name" placeholder="First Name" value="{{ user.user_first_name }}" required />
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Last Name</label>
                        <input class="form-control" id="inputLastName" name="user_last_name" placeholder="Last Name" value="{{ user.user_last_name }}" required />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email Address</label>
                        <input class="form-control" type="email" id="inputEmail" name="user_email" placeholder="Email Address" value="{{ user.user_email }}" required />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" type="password" id="inputPassword" name="user_password" placeholder="Password" aria-describedby="helpBlock" />
                        <span class="help-block text-light" id="helpBlock">Leave Blank To Keep Current Password</span>
                    </div>
                    <button class="btn btn-outline-success btn-md">Update Profile</button>
                    <button class="btn btn-outline-primary btn-md" onclick='location.href = "/profile/show";' name="viewProfile" type="button">View Profile</button>
                </form>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}