{% extends 'Templates/Profile.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/profile/show">View Profile</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
{% endblock %}

{% block body %}
    {% block layout %}
        {% embed 'Templates/Layouts/4-8.html.twig' %}
            {% block header %}
                <header>
                    <h1>View Profile</h1>
                    <hr>
                </header>
            {% endblock %}

            {% block sidebar %}
                <section class="card rounded-0">
                    <div class="card-body">
                        <a href="/profile/edit" class="float-right" name="editProfile"><i class="fad fa-edit"></i></a>
                        <br>
                        <img class="img-fluid rounded-circle mx-auto d-block" src="/images/profile_images/default/{{ user.user_image }}" alt="..." />
                        <div class="text-center mb-2">
                            <h4 class="card-title mb-0">{{ user.username }}</h4>
                            <p class="card-subtitle text-muted"><small>{{ user.user_first_name }} {{ user.user_last_name }}</small></p>
                            <p class="card-subtitle text-muted"><small>{{ user.user_email }}</small></p>
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <p class="card-subtitle"><h6 class="text-muted"><small>Articles</small></h6> 0</p>
                            <p class="card-subtitle"><h6 class="text-muted"><small>Posts</small></h6> 0</p>
                            <p class="card-subtitle"><h6 class="text-muted"><small>Threads</small></h6> 0</p>
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <p class="card-subtitle"><small><h6 class="text-muted">User Group:</h6> {{ user.user_group }}</small></p>
                            <p class="card-subtitle"><small><h6 class="text-muted">User Rank:</h6> {{ user.user_rank }}</small></p>
                        </div>

                        <h6 class="text-uppercase text-muted mb-0"><small>Membership</small></h6>
                        <div class="d-flex justify-content-between mb-2">
                            <h6 class="text-warning"><i class="fad fa-star"></i> <small>Gold Member</small></h6>
                            <small><button class="btn btn-sm btn-outline-success" type="button">Renew</button></small>
                        </div>

                        <div class="text-center">
                            <h6 class="text-muted">Get Connected</h6>
                            <div class="d-flex justify-content-around">
                                <a class="text-secondary" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="text-secondary" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="text-secondary" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="text-secondary" href="#"><i class="fab fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <span></span>
                </section>
            {% endblock %}

            {% block content %}
                <section class="card rounded-0">
                    <form action="" class="card-text form-inline">
                        <input type="text" class="form-control col-sm-12" placeholder="What is on your mind today?">
                        <div class="card-footer col-sm-12">
                            <ul class="nav nav-pills float-left">
                                <li class="nav-item"><a href="#" class="nav-link"><i class="fad fa-map-marker-alt text-warn"></i></a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="fad fa-camera-alt text-warn"></i></a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="fad fa-video text-warn"></i></a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="fad fa-volume-up text-warn"></i></a></li>
                            </ul>
                            <ul class="nav nav-pills float-right">
                                <li class="nav-item"><button type="submit" class="btn btn-md btn-outline-success btn-block">Post</button></li>
                            </ul>
                        </div>
                    </form>
                    <span></span>
                </section>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}